
.about-inner {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 3 / 2;
  margin: 32px auto;
  overflow: hidden;
}

.about-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.about-description {
  max-width: 700px;
  padding: 0 16px; 
  font-size: 16px;
  line-height: 1.8;
  text-align: left; 
}

@media (max-width: 480px) {
  .about-description {
    font-size: 14px;
    line-height: 1.9;
    padding: 0 20px;
  }
}
