.tagline {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}

@media (max-width: 480px) {
  .tagline {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    gap: 12px;
  }

  .taglines {
    gap: 2px;
  }
}
